@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section style="width:80%;margin-left:auto; margin-right:auto;">
    <div style="text-align: center;">
    <h1 class="display-3">Contoso University</h1>
        <h2  class="display-4">Home of the Yarn</h2>
    </div>
    <img src="images/IMG_5101.jpg" alt="plants" style="max-height:200px"/>
    <img src="images/IMG_6389.jpg" alt="spider" style="max-height:200px" />
    <img src="images/IMG_6457.jpg" alt="mushroom" style="max-height:200px" />
    
</section>